#Form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: space-evenly;
}

.form-select {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 25px;
}

.inputs {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.form-control-sm {
    margin-top: 30px;
    width: 300px;
}

.btn {
    width: 150px;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 2px black;
    margin: 10px;
    width: 250px;
}

#brand-Button {
    margin-left: 20px;
}

